<% @conversation %>
<%= form_with(model: message, local: true) do |form| %>
  <% if message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :conversation_id, value: "#{conversation.id}" %>
  </div>

  <div class="field">
    <%= form.hidden_field :author_id, value: "#{current_user.id}" %>
  </div>

  <div class="field">
    <%= form.label :content, :class => "labels" %>
    <%= form.text_area :content, :class => "resizable-textboxes" %>
  </div>

  <div class="submit-actions">
    <%= form.submit "New Message", :id => "submit-button" %>
  </div>

<% end %>
