<% @conversation %>
<%= form_with(model: message, local: true) do |form| %>
  <% if message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :conversation_id, value: "#{conversation.id}" %>
  </div>

  <div class="field">
    <%= form.hidden_field :author_id, value: "#{current_user.id}" %>
  </div>

  <div class="message-form-field">
    <div class="message-form-label"> Write a new message ... </div>
    <%= form.text_area :content, :class => "message-form-textboxes", :required => true%>
  </div>

  <div class="message-form-submit">
    <%= form.submit "send message", :id => "message-form-submit-btn" %>
  </div>

<% end %>
