<p id="notice"><%= notice %></p>

<p>
  <strong>References:</strong>
  <%= @message.references %>
</p>

<p>
  <strong>Content:</strong>
  <%= @message.content %>
</p>

<p>
  <strong>Date sent:</strong>
  <%= @message.date_sent %>
</p>

<p>
  <strong>References:</strong>
  <%= @message.references %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
