<%= form_with(model: profile, local: true) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :user_id, value: "#{current_user.id}" %>
  </div>

  <div class="field">
    <%= form.label "First name", :class => "labels" %>
    <%= form.text_field :firstname, :class => "textbox", :required => true %>
  </div>

  <div class="field">
    <%= form.label "Last name", :class => "labels" %>
    <%= form.text_field :lastname, :class => "textbox", :required => true %>
  </div>

  <div class="field">
    <%= form.label :bio, :class => "labels"%>
    <%= form.text_area :bio, :class => "resizable-textboxes", :placeholder => "Write a short bio here", :required => true %>
  </div>

  <div class="field">
    <%= form.label :skypename, :class => "labels" %>
    <%= form.text_field :skypename, :class => "textbox", :required => true %>
  </div>

  <div class="field">
    <%= form.label "Profile picture", :class => "labels" %>
    <%= form.file_field :uploaded_image %>
  </div>

   <div class="field">
    <%= form.label "Profile background", :class => "labels" %>
    <%= form.file_field :background_image %>
  </div>

  <div class="submit-actions">
    <%= form.submit 'submit profile', :id => "submit-button" %>
  </div>
<% end %>
