<div id="profile-sub-menu">
    <%= link_to 'lessons', profile_path, :class => "sub-menu-btn active" %>
    <%= link_to 'reviews', profile_path(:reviews => 1), :class => "sub-menu-btn" %>
</div>

<% if @user.role.privilege == "teacher" %>
    <% @user.lessons.each do |lesson|%>
        <div class="profile-card">
        <div class="profile-card-row profile-card-title">
            <h2> <%= lesson.languageskill.language_name %> <span style="text-transform: lowercase;"> with </span> <%= lesson.user.profile.firstname %> </h2>
        </div>
        <div class="profile-card-row profile-card-lesson-stats">
            <span> <%= lesson[:duration] %> minutes | $<%= lesson[:price] %> | <%= lesson[:maxbooking] %> available </span>
        </div>
        <div class="profile-card-row profile-card-description-title">
            <h3> lesson description </h3>
        </div>
        <div class="profile-card-row profile-card-lesson-description">
            <span> <%= lesson[:description] %> </span>
        </div>
        <div class="profile-card-row profile-card-teacher">
            <div class="profile-card-teacher-image"> <%= image_tag lesson.user.profile.uploaded_image %> </div>
            <div class="profile-card-teacher-name"> <%= @profile.firstname %> <%= @profile.lastname %> </div>
        </div>
        <div class="profile-card-row profile-card-book-btn">
            <%= link_to 'book now', new_userbooking_path(:lesson_id => lesson[:id]), class: "book-btn" %>
        </div>
        </div>
    <%end%>
<%end%>