<head>
  <title>Home | Chatr</title>
  <link rel="icon" type="image/png" href="">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
  <% if current_user %>
    <%= render '/pages/header_nav_authenticated' %>
  <% else %>
    <%= render '/pages/header_nav_public' %>
  <% end %>

  <div id="body" class="outer-wrapper">
    <div class="inner-wrapper">
      
      <%# PUT YOUR CONTENT HERE - THIS CONTAINER IS 1200px WIDE WITH 10px of PADDING LEFT AND RIGHT %>
      <p> 
        <strong>Uploaded image:</strong>
        <% if @profile.uploaded_image.attached? %>
          <%= image_tag @profile.uploaded_image %>
        <% else %>
          <p>No image for this user</p>
        <% end %>
      </p>

      <p>
        <strong>First name:</strong>
        <%= @profile.firstname %>
      </p> 

      <p>
        <strong>Last name:</strong>
        <%= @profile.lastname %>
      </p>

      <p>
        <strong>Bio:</strong>
        <%= @profile.bio %>
      </p>

      <p>
        <strong>Skypename:</strong>
        <%= @profile.skypename %>
      </p>

      <p>
        <strong>Language skills:</strong> 
        <% @user.profile.languageskills.each do |languageskill| %>
          <div>
            <p> Language: <%= languageskill.language_name %> </p>
            <p> Proficiency: <%= languageskill.proficiency %> </p>
          </div>
        <%end%>
      </p>

      <% if @user.role.privilege == "teacher" %>
        <p>
          <strong>Lessons:</strong>
          <% @user.lessons.each do |lesson|%>
            <div>
              <p> Lesson id: <%= lesson.id %> </p>
              <p> Price: <%= lesson.price %> </p>
              <p> Duration: <%= lesson.duration %> </p>
              <p> Description: <%= lesson.description %> </p>
              <p> Maxbooking: <%= lesson.maxbooking %> </p>
            </div>
          <%end%>
       </p>

      <p>
        <% @user_reviews.each do |review| %>
          <div>
            <p> Review_id: <%= review.id %> </p>
            <p> Date: <%= review.date_published %> </p>
            <p> Stars: <%= review.stars %> </p>
            <p> Content: <%= review.content %> </p>
          </div>
          <% if review.reply %>
          <div>
            <p> Reply.review_id: <%= review.reply.review_id %> </p>
            <p> Reply_id: <%= review.reply.id %> </p>
            <p> Date <%= review.reply.date_published %> </p>
            <p> Content: <%= review.reply.content %> </p>
          </div>
          <% end %>
        <% end %>
      <%end%>
      </p>
    </div>
  </div>

  <div id="footer" class="outer-wrapper">
    <div class="inner-wrapper">
      <footer class="header-footer-container">
        <div id="" class="site-icon-logo-footer">
          <a href="/">
            <div id="site-icon-logo-footer"></div>
          </a>
        </div>
        <nav id="footer-nav" class="footer-nav">
          <a id="" class="footer-nav-btn" href="/"> browse </a>
          <a id="" class="footer-nav-btn" href="/"> how it works </a>
          <a id="" class="footer-nav-btn" href="/"> about us </a>
          <a id="" class="footer-nav-btn" href="/"> signup </a>
          <a id="" class="footer-nav-btn" href="/"> login </a>
        </nav>
        <div id="" class="footer-credits-container">
          <div id="" class="footer-credits"> 2019 | Chatr | All Rights Reserved </div>
        </div>
      </footer>
    </div>
  </div>

</body>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
