<head>
  <title>Home | Chatr</title>
  <link rel="icon" type="image/png" href="">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
  
  <% if current_user %>
    <%= render '/pages/header_nav_authenticated' %>
  <% else %>
    <%= render '/pages/header_nav_public' %>
  <% end %>

  <div id="body" class="user-profile outer-wrapper">
    <div class="profile-cover-image">
        <%# <%= image_tag @profile.cover_image %> %>
    </div>

    <div class="profile-inner-wrapper">

      <div class="profile-col-1">
        <div class="profile-picture">
          <%= image_tag @profile.uploaded_image %>
        </div>
        <div class="profile-row profile-firstname-lastname">
          <span> <%= @profile.firstname %> <%= @profile.lastname %> </span>
        </div>
        <div class="profile-row profile-user-rating">
          <span> <%= @user.profile.average_rating %> </span>
        </div>
        <div class="profile-row profile-title">
          <span> <i class="fas fa-info-circle"></i> About <%= @profile.firstname %> </span>
        </div>
        <div class="profile-row profile-info">
            <span> <%= @profile.bio %> </span>
        </div>
        <div class="profile-row profile-title">
          <span> <i class="fab fa-skype"></i> Skype <%= @profile.firstname %> </span>
        </div>
        <div class="profile-row profile-info">
            <span> <%= @profile.skypename %> </span>
        </div>
        <div class="profile-row profile-title">
          <span> <i class="fas fa-volume-up"></i> Languages Spoken </span>
        </div>
        <div class="profile-row profile-info">
          <% @user.profile.languageskills.each do |languageskill| %>
            <div class="profile-info-languages-spoken">
              <div class="languages-spoken-left">
                <span style="font-weight: 500;"> Language:&nbsp;</span> <span style="font-style: italic;"> <%= languageskill.language_name %> </span>
              </div>
              <div class="languages-spoken-divider">
                  | 
              </div>
              <div class="languages-spoken-right"> 
                <span style="font-weight: 500;"> Proficiency:&nbsp;</span> <span style="font-style: italic;"> <%= languageskill.proficiency %> </span>
              </div>
            </div>
          <%end%>
        </div>
        <div class="profile-row profile-title">
          <span> <i class="fas fa-graduation-cap"></i> Languages Taught </span>
        </div>
        <div class="profile-row profile-info">
          <span>
            <% if @user.role.privilege == "teacher" %>
              <% @user.profile.languageskills.each do |languageskill| %>
                <div class="profile-info-languages-spoken">
                  <% if languageskill.teaches%>
                    <span style="font-weight: 500;"> Language:&nbsp;</span>
                    <span style="font-style: italic;"> <%= languageskill.language_name %> </span>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </span>
        </div>
        <div class="profile-row profile-buttons">
          <%= link_to '<i class="fas fa-arrow-alt-circle-left"></i> go back'.html_safe, profiles_path, class:"go-back-btn" %>
          <%= link_to '<i class="fas fa-edit"></i> edit my profile'.html_safe, edit_profile_path(@profile), class:"edit-profile-btn" %>
        </div>
      </div>

      <!--
      <div class="profile-col-2">
        <div class="profile-col-2-container">
          <div id="profile-sub-menu">
            <a id="" class="sub-menu-btn active" href="#"> lessons </a>
            <a id="" class="sub-menu-btn" href="#"> reviews </a>
          </div>
          <% if @user.role.privilege == "teacher" %>
            <% @user.lessons.each do |lesson|%>
              <div class="profile-card">
                <div class="profile-card-row profile-card-title">
                  <h2> <%= lesson.languageskill.language_name %> <span style="text-transform: lowercase;"> with </span> <%= lesson.user.profile.firstname %> </h2>
                </div>
                <div class="profile-card-row profile-card-lesson-stats">
                  <span> <%= lesson[:duration] %> minutes | $<%= lesson[:price] %> | <%= lesson[:maxbooking] %> available </span>
                </div>
                <div class="profile-card-row profile-card-description-title">
                    <h3> lesson description </h3>
                </div>
                <div class="profile-card-row profile-card-lesson-description">
                  <span> <%= lesson[:description] %> </span>
                </div>
                <div class="profile-card-row profile-card-teacher">
                    <div class="profile-card-teacher-image"> <%= image_tag lesson.user.profile.uploaded_image %> </div>
                    <div class="profile-card-teacher-name"> <%= @profile.firstname %> <%= @profile.lastname %> </div>
                </div>
                <div class="profile-card-row profile-card-book-btn">
                  <%= link_to 'book now', new_userbooking_path(:lesson_id => lesson[:id]), class: "book-btn" %>
                </div>
              </div>
            <%end%>
          <%end%>
        </div>
      </div>
      -->

      <div class="profile-col-2">
        <div class="profile-col-2-container">
          <div id="profile-sub-menu">
            <a id="" class="sub-menu-btn" href="#"> lessons </a>
            <a id="" class="sub-menu-btn active" href="#"> reviews </a>
          </div>
          <% if @user.role.privilege == "teacher" %>
            <% @user.lessons.each do |lesson|%>
              <div class="profile-card">
                <div class="profile-card-row profile-card-title">
                  <h2> <%= lesson.languageskill.language_name %> <span style="text-transform: lowercase;"> with </span> <%= lesson.user.profile.firstname %> </h2>
                </div>
                <div class="profile-card-row profile-card-lesson-stats">
                  <span> <%= lesson[:duration] %> minutes | $<%= lesson[:price] %> | <%= lesson[:maxbooking] %> available </span>
                </div>
                <div class="profile-card-row profile-card-description-title">
                    <h3> lesson description </h3>
                </div>
                <div class="profile-card-row profile-card-lesson-description">
                  <span> <%= lesson[:description] %> </span>
                </div>
                <div class="profile-card-row profile-card-teacher">
                  <div class="profile-card-teacher-image"> <%= image_tag lesson.user.profile.uploaded_image %> </div>
                  <div class="profile-card-teacher-name"> <%= @profile.firstname %> <%= @profile.lastname %> </div>
                </div>
                <div class="profile-card-row profile-card-book-btn">
                  <%= link_to 'book now', new_userbooking_path(:lesson_id => lesson[:id]), class: "book-btn" %>
                </div>
              </div>
            <%end%>
          <%end%>
        </div>
      </div>

    </div>
  </div>

  <%= render '/pages/footer_public' %>

</body>
