<head>
  <title>Home | Chatr</title>
  <link rel="icon" type="image/png" href="">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
  
  <% if current_user %>
    <%= render '/pages/header_nav_authenticated' %>
  <% else %>
    <%= render '/pages/header_nav_public' %>
  <% end %>

  <div id="body" class="user-profile outer-wrapper">
    <div class="profile-cover-image">
    <% if @profile.background_image.attached? %>
      <%= image_tag @profile.background_image.service_url %>
    <% end %>
    </div>
    <div class="profile-inner-wrapper">
      <div class="profile-col-1">
        <div class="profile-picture">
          <%= image_tag @profile.uploaded_image.service_url %>
        </div>
        <div class="profile-row profile-firstname-lastname">
          <span> <%= @profile.firstname %> <%= @profile.lastname %> </span>
        </div>
        <div class="profile-row profile-user-rating">
          <span> <%= @user.profile.average_rating %> </span>
        </div>
        <div class="profile-row profile-title">
          <span> <i class="fas fa-info-circle"></i> About <%= @profile.firstname %> </span>
        </div>
        <div class="profile-row profile-info">
            <span> <%= @profile.bio %> </span>
        </div>
        <div class="profile-row profile-title">
          <span> <i class="fab fa-skype"></i> Skype <%= @profile.firstname %> </span>
        </div>
        <div class="profile-row profile-info">
            <span> <%= @profile.skypename %> </span>
        </div>
        <div class="profile-row profile-title">
          <span> <i class="fas fa-volume-up"></i> Languages Spoken </span>
        </div>
        <div class="profile-row profile-info">
          <% @user.profile.languageskills.each do |languageskill| %>
            <div class="profile-info-languages-spoken">
              <div class="languages-spoken-left">
                <span style="font-weight: 500;"> Language:&nbsp;</span> <span style="font-style: italic;"> <%= languageskill.language_name %> </span>
              </div>
              <div class="languages-spoken-divider">
                 | 
              </div>
              <div class="languages-spoken-right">
                <span style="font-weight: 500;"> Proficiency:&nbsp;</span> <span style="font-style: italic;"> <%= languageskill.proficiency %> </span>
              </div>
            </div>
          <%end%>
        </div>
        <div class="profile-row profile-title">
          <span> <i class="fas fa-graduation-cap"></i> Languages Taught </span>
        </div>
        <div class="profile-row profile-info">
          <span>
            <% if @user.role.privilege == "teacher" %>
              <% @user.profile.languageskills.each do |languageskill| %>
                <div class="profile-info-languages-spoken">
                  <% if languageskill.teaches%>
                    <span style="font-weight: 500;"> Language:&nbsp;</span>
                    <span style="font-style: italic;"> <%= languageskill.language_name %> </span>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </span>
        </div>
        <div class="profile-row profile-buttons">
          <div class="go-back-btn"> <i class="fas fa-arrow-alt-circle-left"></i> go back </div>
          <div class="edit-profile-btn"> <i class="fas fa-edit"></i> edit my profile </div>
        </div>
      </div>

      <div class="profile-col-2">
        <div class="profile-col-2-container">
          <% if params[:reviews] == "1" %>
            <%= render partial: 'reviews_profile'%>
          <% else %>
            <%= render partial: 'lessons_profile'%>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <%= render '/pages/footer_public' %>
</body>
