<%= form_with(model: reply, local: true) do |form| %>

<div class="formstats replies">
    <% @userbooking = Userbooking.find(params[:id]) %>
    <p> Replying to a review for your <%= @userbooking.lesson.duration %> minute <%= @userbooking.lesson.languageskill.language_name %> class with <%= @userbooking.user.profile.firstname %> from the <%= @userbooking.date_booked.strftime("%e %B, %Y") %>. </p> 
  </div>

  <% if reply.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reply.errors.count, "error") %> prohibited this reply from being saved:</h2>

      <ul>
      <% reply.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :review_id, value: "#{@userbooking.review.id}" %>
  </div>

  <div>
    <p class= "labels"> <%= @userbooking.user.profile.firstname %>'s review: </p>
    <% @userbooking.review.stars.to_i.times do %>
        <span class="glyphicon glyphicon-star"></span>
    <% end %>
    <% (5 - @userbooking.review.stars.to_i).times do %>
        <span class="glyphicon glyphicon-star-empty"></span>
    <% end %>
    <p> <%= @userbooking.review.content %> </p>
    <p> - <%= @userbooking.review.created_at.strftime("%e %B, %Y") %></p>
  </div>

  <div class="field">
    <%= form.text_area :content, :placeholder => "Write your reply here.", :class => "resizable-textboxes", :required => true %>
  </div>

  <div class="submit-actions">
    <%= form.submit 'publish public reply', :id => "submit-button" %>
  </div>
<% end %>
