<p id="notice"><%= notice %></p>

<p>
  <strong>Review:</strong>
  <%= @reply.review %>
</p>

<p>
  <strong>Content:</strong>
  <%= @reply.content %>
</p>

<p>
  <strong>Date published:</strong>
  <%= @reply.date_published %>
</p>

<%= link_to 'Edit', edit_reply_path(@reply) %> |
<%= link_to 'Back', replies_path %>
