<p id="notice"><%= notice %></p>

<h1>Conversations</h1>


  <tbody>
    <% @conversations.each do |conversation| %>
      <tr>
        <% if conversation.user1 != current_user %>
          <td><%= link_to "#{conversation.user1.profile.firstname}", conversation_path(conversation) %></td>
        <% else %>
            <td><%= link_to "#{conversation.user2.profile.firstname}", conversation_path(conversation) %></td>
        <% end %>
        <% if false %>
        <td><%= link_to 'Edit', edit_conversation_path(conversation) %></td>
        <td><%= link_to 'Destroy', conversation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Conversation', new_conversation_path %>
