<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @conversation.user1 %>
  <%= @conversation.user2 %>
</p>

<%= link_to 'Edit', edit_conversation_path(@conversation) %> |
<%= link_to 'Back', conversations_path %>
