<%= form_with(model: languageskill, local: true) do |form| %>
  <% if languageskill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(languageskill.errors.count, "error") %> prohibited this languageskill from being saved:</h2>

      <ul>
      <% languageskill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :profile_id, value: "#{current_user.profile.id}" %>
  </div>

  <div class = "languageformwrapper">
    <div class="field">
      <%= form.select :language_name, options_for_select(@languagenames) %>
    </div>

    <div class="field" id="slider-wrapper">
      <%= form.label :proficiency %>
      <%= form.range_field :proficiency, :min=>0, :max=> 10, :step => 2.5, :class => "slider", :id => "rangevalue" %>
    </div>

    <p><span id="proficiencylevel"></span></p>
  </div>

  <div class="submit-actions">
    <%= form.submit 'Submit language skill', :id => "submit-button" %>
  </div>
<% end %>

<script>
  var slider = document.getElementById("rangevalue");
  var output = document.getElementById("proficiencylevel");
  output.innerHTML = "Drag to see proficiency level"; 
  slider.oninput = function() {
    if (this.value == 0) {
      output.innerHTML = "Novice"; 
    }
    else if (this.value == 2.5) {
      output.innerHTML = "Beginner";
    }
    else if (this.value == 5.0) {
      output.innerHTML = "Intermediate";
    }
    else if (this.value == 7.5) {
      output.innerHTML = "Advanced";
    }
    else {
      output.innerHTML = "Native speaker"
    }
  }
</script>