<p id="notice"><%= notice %></p>

<h1>Languageskills</h1>

<table>
  <thead>
    <tr>
      <th>References</th>
      <th>Teaches</th>
      <th>Proficiency</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @languageskills.each do |languageskill| %>
      <tr>
        <td><%= languageskill.references %></td>
        <td><%= languageskill.teaches %></td>
        <td><%= languageskill.proficiency %></td>
        <td><%= link_to 'Show', languageskill %></td>
        <td><%= link_to 'Edit', edit_languageskill_path(languageskill) %></td>
        <td><%= link_to 'Destroy', languageskill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Languageskill', new_languageskill_path %>
