<p id="notice"><%= notice %></p>

<p>
  <strong>References:</strong>
  <%= @languageskill.references %>
</p>

<p>
  <strong>Teaches:</strong>
  <%= @languageskill.teaches %>
</p>

<p>
  <strong>Proficiency:</strong>
  <%= @languageskill.proficiency %>
</p>

<%= link_to 'Edit', edit_languageskill_path(@languageskill) %> |
<%= link_to 'Back', languageskills_path %>
