<div id="header" class="outer-wrapper">
  <div class="inner-wrapper">
    <header class="header-footer-container">
      <div id="" class="site-icon-logo">
        <a href="/browse">
          <div id="site-icon-logo"></div>
        </a>
      </div>
      <nav id="header-nav" class="header-nav">
        <a id="" class="header-nav-btn" href="/browse"> browse </a>
        <%= link_to 'Bookings', userbookings_path(:user_id => current_user.id), class:"header-nav-btn" %>
        <a id="" class="header-nav-btn" href="/finances"> finances </a>
        <% if current_user.profile.uploaded_image.attached? %>
          <a id="" class="header-nav-btn profile-nav-btn" href="/profiles/<%=current_user.profile.id%>">
          <div class="profile-nav-image"> <%= image_tag current_user.profile.uploaded_image %> </div> <%= current_user.profile.firstname %> </a>
        <% else %>
          <%= current_user.email %>
        <% end %>
        <a class="header-nav-notifications", href="/notifications" >
          <i class="fas fa-globe-americas"></i>
        </a>
          <span class="seperator"></span>          
          <a href="conversations/new">
            <i class="fas fa-comment-dots"></i>
          </a>

          <span class="seperator"></span>
          <a  data-method="delete", href= "/users/sign_out", class="header-nav-logout">
            <i class="fas fa-lock"></i> <span class="logout">logout</span>
          </a>
        </div>
      </nav>
    </header>
  </div>
</div>
