<div class="rowofcards">
<div class="cardslider">
<% @teachers_card_array.each do |teachers_card_info| %>
    <div class="profile-card" id="lesson-card">  
    
        <div class="profile-card-row profile-card-teacher" >
            <div class="profile-card-teacher-image"> 
                <% if teachers_card_info[:image].attached? %>
                    <%= image_tag teachers_card_info[:image].service_url %>
                <% else %>
                    <p> N/A </p>
                <% end %>          
            </div>

            <div class = "profile-card-row profile-card-title">
                <h3> <%= link_to "#{teachers_card_info[:name]}", "/profiles/#{teachers_card_info[:profile_id]}" %> </h3>
            </div>
        </div>

    <div class = "profile-card-row profile-card-lesson-stats" > 
    <% if teachers_card_info[:stars]%>
        <% teachers_card_info[:stars].to_i.times do  %>
        <span class="glyphicon glyphicon-star"></span>
        <% end %>
    <% end %>
    <% if teachers_card_info[:stars].to_i != 5 || teachers_card_info[:stars].to_i != nil %>
        <% (5 - teachers_card_info[:stars].to_i).times do %>
        <span class="glyphicon glyphicon-star-empty"></span>
        <% end %>
    <% end %>
    </div>

    <div class="profile-card-row profile-card-description-title">
        <h3> Languages Spoken </h3>
    </div>


    <div class="profile-card-row profile-card-lesson-description" id="teachcard">
        <% teachers_card_info[:teach_languages].each do |language| %>
            <p> <%= language %> | </p>
        <% end %>
    </div>

    <div class="profile-card-row profile-card-description-title">
        <h3> Bio </h3>
    </div>

    <div class="profile-card-row profile-card-lesson-description" id="teachcard">
        <p> <%= teachers_card_info[:bio]%> </p>
    </div>

    <div class="align-button">
    <div class="profile-card-row profile-card-book-btn">
        <p><%= link_to "View Profile", "/profiles/#{teachers_card_info[:profile_id]}", class: "book-btn"%></p>
    </div>
    </div>
    </div>

    <% end %>
    <% if !request.path_info.include?("teachers") %>
        <div class="profile-card" id="see-more-card">
            <p> <%= link_to "See more!", "/browse/teachers", class: "book-btn" %> </p>
        </div>
    <% end %>
</div>
</div>