<%= form_with(model: lesson, local: true) do |form| %>
  <% if lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% lesson.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :user_id, value: "#{current_user.id}" %>
  </div>

  <div class="field">
    <%= form.label "Price $", :class => "labels" %>
    <%= form.number_field :price, :class => "textbox", :min => 0, :required => true%>
  </div>

  <div class="field">
    <%= form.label "Duration in minutes", :class => "labels" %>
    <%= form.number_field :duration, :class => "textbox", :min => 0, :max => 180, :required => true %>
  </div>

  <div class="field">
    <%= form.label "Language", :class => "labels"%>
    <%= form.select(:languageskill_id, current_user.profile.languageskills.all.collect {|lang|[lang.language_name, lang.id]}), :required => true %>
  </div>

  <div class="field">
    <%= form.label "Description", :class => "labels"%>
    <%= form.text_area :description, :class => "resizable-textboxes", :placeholder => "Write a short description of your lesson here. Include a short blurb of your teaching style and what level of learner this lesson is best suited to.", :required => true %>
  </div>

  <div class="field">
    <%= form.label "How many of this lesson would you like to make available for purchase?", :class => "labels" %>
    <%= form.number_field :maxbooking, :class => "textbox" %>
  </div>

  <div class="submit-actions">
    <%= form.submit 'publish lesson', :id => "submit-button"%>
  </div>
<% end %>
