<head>
  <title>Home | Chatr</title>
  <link rel="icon" type="image/png" href="">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>

  <%= render 'pages/header_nav_public' %>

  <div id="body" class="outer-wrapper outer-wrapper-public outer-wrapper-public-first bgr-image-signup">
    <div class="bgr-image-cover">
      <div class="inner-wrapper inner-wrapper-public inner-wrapper-public-first">

        <div class="sign-up-box">
          <div id="less-transperant" class="signup">
            <div>
                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                  <div class="field">
                    <%= f.label :email, :class => "labels" %><br />
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "textbox" %>
                  </div>

                  <div class="field">
                    <%= f.label :password, :class => "labels" %><br />
                    <%= f.password_field :password, autocomplete: "current-password", :class => "textbox" %>
                  </div>

                  <% if devise_mapping.rememberable? %>
                    <div class="field">
                      <%= f.check_box :remember_me, :class => "labels" %>
                      <%= f.label :remember_me %>
                    </div>
                  <% end %>

                  <div class="actions">
                    <%= f.submit "Log in", :class => "btn-signup", :id => 'submit'%>
                  </div>
              <% end %>
              <p class="labels"> Don't have an account yet? <%= render "devise/shared/links" %>
 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= render 'pages/footer_public' %>

</body>
