<% @all_userbooking_cards %>

<div class="rowofcards rowofcards-outer">
    <div class="cardslider icon scroll-arrow-teachers">
        <% @all_userbooking_cards[locals[:completed]].each do |cardinfo|%>
            <div class="card" id="bookingcard">

                <div class="titlesection">
                    <% if cardinfo[:picture].uploaded_image.attached? %>
                        <%= link_to "/profiles/#{cardinfo[:student_profile].id}" do %>
                            <%= image_tag (cardinfo[:picture].uploaded_image), class: 'profilepic-image' %>
                        <% end %>
                    <% else %>
                        <i id="browse-pages" class="fas fa-user"></i>
                    <% end %>
                    
                    <div class="righthandside">
                        <h2 id = "langwithteach"> <%= "#{cardinfo[:language]} with #{cardinfo[:student]}" %> </h2>
                        <div class = "subtitlesection">
                            <span class="glyphicon glyphicon-hourglass"></span>
                            <%= "#{cardinfo[:duration]} minutes | #{cardinfo[:date].strftime("%e %B, %Y")}"%>
                        </div>
                    </div> 

                </div>

                <div class = "cardbody">
                    <div id = "subtitle"> <strong> Lesson description: </strong> <%= "#{cardinfo[:description]}" %> </div> 

                    <div id = "subtitle"> <strong> Your note from  <%= "#{cardinfo[:student]}:" %> </strong> <%= "#{cardinfo[:note]}" %> </div> 
                </div>
                
                <div class = "bottombar">
                    <div class = "button" >
                        <%= link_to "contact #{cardinfo[:student]}",new_conversation_path %>
                    </div>

                    <div id = "complete" class = "complete?">
                        <% if cardinfo[:review] != nil %>
                            <div id = "review-content"> <strong> Review available: </strong> <%= "#{cardinfo[:review].content}" %> </div> 
                            <% if cardinfo[:userbooking].review.reply == nil %>
                                <%= link_to "reply", new_reply_path(:id => cardinfo[:userbooking].id) %>
                            <% else %>
                                <div id = "subtitle"> You have already replied. </div>
                            <% end %>
                        <% else %>
                            <div id = "subtitle"> <strong> Review not yet available </strong> </div> 
                        <% end %>
                    </div>
                </div>
                
            </div>
        <% end %>
    </div>
</div>
