<%= form_with(model: review, local: true) do |form| %>
  <div class="formstats">
    <% @userbooking = Userbooking.find(params[:id]) %>
    <p> Reviewing your <%= @userbooking.lesson.duration %> minute <%= @userbooking.lesson.languageskill.language_name %> class with <%= @userbooking.lesson.user.profile.firstname %> from the <%= @userbooking.date_booked.strftime("%e %B, %Y") %>. </p> 
  </div>
  
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :userbooking_id, value: params[:id] %>
  </div>

  <div class="field">
    <%= form.label :stars, :class => "labels" %>
    <span class="glyphicon glyphicon-star"></span>
    <%= form.number_field :stars, {min: 0, max: 5} %>
  </div>

  <div class="field">
    <%= form.label :content, :class => "labels" %>
    <%= form.text_area :content, :class => "resizable-textboxes"%>
  </div>

  <div class="field dateselect">
    <%= form.label :date_published, :class => "labels" %>
    <%= form.datetime_select :date_published %>
  </div>

  <div class="submit-actions">
    <%= form.submit 'submit review', :id => "submit-button"%>
  </div>
<% end %>

<script>
  var dates = document.querySelector('.dateselect')
  var nodes = dates.childNodes
  nodes[8].remove()
  nodes[9].remove()
</script>